<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <%= button_tag "", type: "button", class: "close glyphicon glyphicon-remove", data: {dismiss: "modal"} %>
      <h4 class="modal-title"> Details </h4>
    </div>
    <div class="modal-body">
      <div class="number_holder">
            <p class="contact_initial col-sm-1"><%= @contact.name[0].capitalize %></p>
          <div class="col-sm-10 contact">
            <%= @contact.name %><br>
            <%= @contact.number %>
          </div>
        </div>
    </div>
  </div>
</div>